/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21.12.2014, 12:25:30
    Author     : Honaht
*/

.ui-layout-unit-content {
    background-color: #dfe4e6;
}

.ui-slider-handle {
    background-color: #dfe4e6;
}

table.infoTable {
    table-layout: fixed;
    display: table;
    border-collapse: collapse;
    border-spacing: 2px;
    border-color: gray;
}
table.infoTable td, table.infoTable th {
    border: 1px solid lightgrey;
    padding: 5px;
}

table.infoTable th {
    text-align: right;
}
